html {
	background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
	background-size: cover;
	font-family: 'helvetica neue';
	text-align: center;
	font-size: 10px;
  }

  body {
	margin: 0;
	font-size: 2rem;
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
  }

  .clock {
	width: 30rem;
	height: 30rem;
	border: 20px solid white;
	border-radius: 50%;
	margin: 50px auto;
	position: relative;
	padding: 2rem;
	box-shadow:
	  0 0 0 4px rgba(0,0,0,0.1),
	  inset 0 0 0 3px #EFEFEF,
	  inset 0 0 10px black,
	  0 0 10px rgba(0,0,0,0.2);
  }

  .clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
	width: 50%;
	height: 6px;
	background: black;
	position: absolute;
	top: 50%;
	transform-origin: 100%; /* This defines "where" transformation takes place, i.e., whether the rotation pivot point is in the middle of the element (with 50%) or the end edge of the element (with 100%). You can observe the rotation when this is used with transform: rotate(Ndeg); style definition */
	transform: rotate(90deg); /* Default rotation by 90 degrees, because divs are block elements that appear left to right by default. We need the clock hands to appear so that they start at the 12 o'clock mark, so 90 degree rotation with transofrm origin 100%. */
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); /* This basically gives the clock hand movements the "tick" motion. To change this transition style, you can use the cubic-bezier() function in the developer view in the browser. */
  }
